############
## Client Profile "default"
##
## ZomboidCraft defaults (formato conferido no xaerolib 1.7.3 / Xaero's Minimap 26.5.0: "id = valor").
## Minimapa so aparece com GPS (zc_player). Quadrado, moldura fina vermelho-escura, sem radar, sem modo caverna.

profile_name = Default
minimap_shape = 0
minimap_frame = 2
minimap_frame_color = 4
minimap_size = 0
minimap_zoom = 1
minimap_opacity = 90
minimap_north_locked = false
display_radar = false
tracked_players_on_minimap = false
tracked_players_in_world = false
minimap_cave_mode_allowed = false
minimap_auto_cave_mode = 0
minimap_display_redstone = false
minimap_display_flowers = false
minimap_slime_chunks = false
minimap_chunk_grid = -1
minimap_light_overlay_type = 0
minimap_compass_location = 1
minimap_compass_scale = 0
minimap_arrow_color = 0
minimap_arrow_scale = 1.0
minimap_info_display_background_opacity = 60
minimap_undiscovered_opacity = 25
waypoints_in_world = false
